# Unreal Engine .gitignore

# Ignore all binaries
*.exe
*.dll
*.app
*.dylib
*.so
*.a
*.lib
*.csproj
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Ignore intermediate and build files
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/c_cpp_properties.json
.vscode/symbols.list
.vscode/ipch/
.vscode/compile_commands.json
.vscode/cppdebug

# Ignore project-specific files
*.opensdf
*.sdf
*.tmp
*.vcxproj*
*.vcxproj.*.user
*.xcodeproj/*
*.xcodeproj/*/
*.xcodeproj/xcuserdata/
*.xcworkspace/
*.xcworkspace/*/
*.xcworkspace/xcuserdata/
**/.idea/

# Ignore build files
Build/

# Ignore config files
*.log
*.ini
*.sublime-workspace

# Python .gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
# Commented out to avoid conflicts with other environments
# .env
# .venv
# pipenv.lock
# .env

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyderworkspace

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/
